/** seletor {pripriedades:valor;}
Uma regra CSS Tem a sintaxe geral
    seletor{
        propriedade: valor;
    }

    Tipos de seletor existentes:
        -Seletor Universal: Seleciona todos os elementos (ex: *)
        -Seletor de Tipo: Seleciona todos os elementos de um determinado tipo(ex: p,h1, div)
        -Seletor por ID: seleciona um único elemento com um determinado ID(ex: id= html:"meu_id" CSS:#meu_id)
        -Seletor de Classe: Seleciona todos os elementos com uma determinada classe(ex: .minha-classe)
        -Seletor de Atributos: Seleciona elementos com um determinado atributo(ex: [type="text"])
        -Seletor de pseudo-classe: Seleciona elementos
    **/

*{
    border: 1px solid;
}

p{
    background-color: rgb(242, 227, 255);
}

#tituloformacss{
    background-color: rgb(163, 163, 255);
}

.vermelho{
    color:red
}

.titulo{
    font-size: 20pt;
}

[for="nome"], [type="submit"]{
    color: blueviolet;
}

#botao2[Type="submit"]:hover{
    color: blue;
}